.list-container{
    height: 600px;
    width: 25%;
    background-color: #2c3556;
}
li a{
      color: white;
      text-decoration: none;
      padding-left: 15px;
      
}
.admin-list li {
  border-bottom: 1px solid white;
  padding: 10px 0;
  margin: 0;
}

h4{
    height: 55px;
    width: 25%;
    background-color: #21273e;
    color: lightgray;
  padding: 10px;
  margin: 0;
}

